<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LokaKarya - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
</head>
<body style="
    background: linear-gradient(135deg, #ffffff, #f5f5dc, #fae7d0, #ffffff), 
            repeat;
    background-size: 200% 200%, auto;
    animation: gradientAnimation 15s ease infinite;
">
    <style>
        @keyframes gradientAnimation {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
    </style>
    <main>
        {% block content %}
        <!-- Halaman spesifik akan dimasukkan di sini -->
        {% endblock %}
    </main>
</body>
</html>
