{% extends 'authentication.html' %}
{% load static %}
{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="login-container">
    <div class="login-form">
        <!-- Logo and title -->
        <div class="form-header">
            <img src="{% static 'images/logo_lokakarya.png' %}" alt="UI Logo" class="h-24 mx-auto">
            <h2>Sign In To Your Account.</h2>
            <p>Discover the essence of craftsmanship and embrace local pride with LokaKarya – where every creation tells a story.</p>
        </div>

        <form method="POST" action="{% url 'authentication:login' %}">
            {% csrf_token %}
            <!-- Username Input -->
            <div class="input-group">
                <label for="username">Username</label>
                <div class="input-icon-wrapper">
                    <i class="input-icon uil uil-at"></i>
                    {{ form.username }}
                </div>
            </div>
        
            <!-- Password Input -->
            <div class="input-group">
                <label for="password">Password</label>
                <div class="input-icon-wrapper">
                    <i class="input-icon uil uil-lock-alt"></i>
                    {{ form.password }}
                </div>
            </div>
        
            <!-- Sign In Button -->
            <button class="btn login-btn" type="submit" style="color: black;">
                Sign In <i class="uil uil-signin"></i>
            </button>
        </form>        

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Sign Up Prompt -->
        <div class="signup">
            <p>Don't have an account yet? <a href="{% url 'authentication:register' %}">Sign Up</a></p>
        </div>
    </div>
</div>
{% endblock content %}
