{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="login">
    <h1>Login</h1>

    <form method="POST" action="{% url 'authentication:login' %}">
        {% csrf_token %}
        {{ form.as_table }}
        <input class="btn login_btn" type="submit" value="Login" />
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>Don't have an account yet? <a href="{% url 'authentication:register' %}">Register Now</a></p>
</div>
{% endblock content %}
