{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<div class="register">
    <h1>Register</h1>

    <form method="POST" action="{% url 'authentication:register' %}">
        {% csrf_token %}
        {{ form.as_table }}
        <input class="btn register_btn" type="submit" value="Register" />
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}
