{% extends "base.html" %}
{% load static %}
{% block title %}{{ store.nama }}{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/store_details.css' %}">
</head>

<!-- Store Header Image -->
<div class="header-image">
    {% if store.image %}
        <img src="{{ store.image.url }}" alt="{{ store.nama }} Header Image">
    {% else %}
        <img src="{% static 'images/default-detail-bg.png' %}" alt="Default Store Image">
    {% endif %}
</div>

<!-- Store Credentials -->
<div class="container mx-auto">
    <div class="credentials-section">
        <h1 class="store-name">{{ store.nama }}</h1>
        <div class="credentials-grid">
            <div class="credential-item">
                <h3>Alamat</h3>
                <p>{{ store.alamat }}</p>
            </div>
            
            <div class="credential-item">
                <h3>Hari Operasional</h3>
                <p>{{ store.hari_buka }}</p>
            </div>
            
            <div class="credential-item">
                <h3>Email</h3>
                <p>{{ store.email }}</p>
            </div>
            
            <div class="credential-item">
                <h3>Telepon</h3>
                <p>{{ store.telepon }}</p>
            </div>
        </div>
        <a href="{{ store.gmaps_link }}" target="_blank" class="gmaps-button">
            Buka di Google Maps
        </a>
    </div>
    
    <div class="products-section">
        <h1 class="products-title">Products</h1>
        <div class="products-grid">
            {% for product in products %}
                <div class="product-card">
                    <div class="product-image-container">
                        <div class="product-image">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static 'images/default-image.png' %}" alt="Default Product Image">
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-info">
                        <h3 class="product-name">{{ product.name }}</h3>
                        <p class="product-price">Price: Rp {{ product.min_price }} - Rp {{ product.max_price }}</p>
                    </div>
                </div>
            {% empty %}
                <p>No products available for this store.</p>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}