body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #eef2ff, #f9f9f9);
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.login-form {
    padding-left: 40px; /* Add padding to make room for the icon */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 45px;
    font-size: 16px;
}

.form-header .logo {
    width: 100px;  /* Adjusted size */
    margin-bottom: 10px;
}

.form-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.form-header p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.input-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-icon {
    position: absolute;
    left: 10px; /* Adjust this value as necessary */
    font-size: 18px;
    color: #666;
}

.input-group input {
    padding-left: 35px; /* Make space for the icon */
    height: 45px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #6a67ce;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 8px;
}

.forgot-password {
    font-size: 14px;
    color: #6a67ce;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #6a67ce;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.btn.login-btn i {
    font-size: 18px;
}

.btn.login-btn:hover {
    background-color: #4a45c7;
}

.btn i {
    margin-left: 8px; /* Adjust the spacing between the text and the icon */
}

.signup {
    text-align: center;
    margin-top: 20px;
}

.signup a {
    color: #6a67ce;
    text-decoration: none;
    font-weight: bold;
}

.signup a:hover {
    text-decoration: underline;
}
