{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
  <!-- Swiper CSS & JS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.9/css/boxicons.min.css">
  <link rel="stylesheet" href="{% static 'css/productpage.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  
  <div style="padding: 100px;">
    <!-- Hero Section -->
    <div class="container mx-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col justify-center">
        <!-- Image Slider -->
        <div class="overflow-hidden">
          <img src="{% static 'avatars/defaults.jpeg' %}" alt="Product Image" class="w-full object-cover rounded-lg">
        </div>
      </div>
        
    <!-- Product Information Panel -->
    <div class="flex flex-col justify-center p-4">
      <h5 class="text-md text-gray-700">{{product.category}}</h5>
      <h1 class="text-2xl font-bold text-gray-900 mb-2">{{product.name}}</h1>

      <hr class="my-4 border-t border-gray-500">
      
      <p class="text-sm text-gray-700">Rp.{{product.min_price}} - Rp.{{product.max_price}}</p>
      <p class="text-md mt-4">{{product.description}}</p>
      
      <!-- Rating Stars -->
      <hr class="my-4 border-t border-gray-500">
      <div class="mt-4">
        <p class="text-lg font-bold text-gray-700">Rating</p>
        <div>
          <div class="flex items-center gap-2 font-bold text-blue-gray-500">
            <span id="average-rating">{{ product.count_average_rating|floatformat:1 }}</span>
            <div class="inline-flex items-center" id="rating-stars">
              <!-- Render filled stars based on average rating -->
              {% for i in "12345"|make_list %}
                  <span class="star" data-index="{{ i }}">
                    {% if i <= product.count_average_rating|floatformat:0 %}
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="w-6 h-6 text-yellow-700 cursor-pointer">
                        <path fill-rule="evenodd"
                          d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                          clip-rule="evenodd"></path>
                      </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                          class="w-6 h-6 cursor-pointer text-blue-gray-500">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z">
                          </path>
                        </svg>
                    {% endif %}
                  </span>
              {% endfor %}
            </div>
            <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-500">
              Based on <span id="review-count">{{ product.num_reviews }}</span> Reviews
            </p>
          </div>
        </div>
      </div>

      <!-- Add Favorite -->
        <div class="flex space-x-4 mt-6">
          <button class="border border-gray-300 py-2 px-4 rounded-lg hover:bg-gray-200" 
            id="toggle-favorite" 
            onclick="toggleFavorite('{{ product.id }}')"
          >
          {% if is_favorited %}
          Remove from Favorites
          {% else %}
          Add to Favorites
          {% endif %}
        </button>
      </div>
    </div>
  </div>

    <!-- Benefits Section -->
    <div class="container mx-auto py-8">
      <h2 class="text-xl font-bold mb-4">Affiliated Stores</h2>
      <div class="container mx-auto bg-gray-50 shadow-lg rounded-lg p-4">
        <ul class="list-disc pl-5 space-y-2">
          {% for store in matching_stores %}
            <a href="#"><li>{{ store.nama }}</li></a>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Reviews Section -->
    <div class="container mx-auto py-8">
      <h2 class="text-xl font-bold mb-4">Customer Reviews</h2>
      <div id="reviews-section" class="container mx-auto bg-gray-50 shadow-lg rounded-lg p-4">
        {% if user.is_authenticated %}
          <div class="flex" style="flex-direction: column;">
            <div class="flex" style="flex-direction: row;">
              <img src="{% static '/images/default-avatar-profile.jpg' %}" alt="{{ user.username }}" class="w-10 h-10 rounded-full mr-3">
              <div class="w-full">
                <div class="review-section">
                  <button
                      id="asyncButton"
                      class="flex items-start h-full min-h-[100px] w-full rounded-[7px] border border-blue-gray-200 bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 transition-all hover:bg-blue-gray-100 focus:outline-none focus:ring focus:ring-blue-gray-300"
                      onclick="openReviewModal('{{ product.id }}')"
                  >
                      What are you thinking about, {{ user.username }}?
                  </button>
              </div>
              </div>
              
            </div>
          </div>
        {% else %}
          <p>You must log in to review a product.</p>
        {% endif %}
      
        <div id="reviews-list" class="mt-6" style="min-height: 300px;">
          
          {% for review in product.ratings.all %}
            <div class="review-item mb-4 p-4 border-b border-gray-200">
              <span class="flex" style="align-items: center;">
                <img src="{% static '/images/default-avatar-profile.jpg' %}" alt="{{ user.username }}" class="w-10 h-10 rounded-full mr-3">
                <p class="font-semibold"> {{ review.user.username }}</p>
              </span>
                <div class="inline-flex items-center" id="rating-stars">
                    {% for i in "12345"|make_list %}
                        <span class="star" data-index="{{ i }}">
                            {% if i <= review.rating|floatformat:0 %}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-yellow-700 cursor-pointer">
                                    <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd"></path>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 cursor-pointer text-blue-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"></path>
                                </svg>
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>
                <p>{{ review.review }}</p>
            </div>
            {% empty %}
            <p style="text-align: center;">No reviews yet.</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="reviewModal" class="hidden fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-10000000000">
      <div class="modal-overlay"></div>
      <div class="review-modal">
        <h3>Leave a Review</h3>
        <form action="javascript:void(0);">
          <div class="rating" id="review-rating">
            <input type="number" name="rating" hidden>
            <i class='bx bx-star star' style="--i: 0;"></i>
            <i class='bx bx-star star' style="--i: 1;"></i>
            <i class='bx bx-star star' style="--i: 2;"></i>
            <i class='bx bx-star star' style="--i: 3;"></i>
            <i class='bx bx-star star' style="--i: 4;"></i>
          </div>
          <textarea id="review-text" name="opinion" cols="30" rows="5" placeholder="Your opinion..."></textarea>
          <div class="btn-group">
            <button type="button" class="btn submit" onclick="submitReview()">Submit</button>
            <button type="button" class="btn cancel" onclick="closeReviewModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Similar Products Section -->
    <div class="container mx-auto py-8">
      <h2 class="text-xl font-bold mb-4">You May Also Like</h2>
      <div class="swiper-container relative">

          <!-- Swiper Wrapper with Product Cards -->
          <div class="z-32 swiper-wrapper">
              {% for same_product in same_category_products %}
              <div class="z-33 swiper-slide group relative block overflow-hidden rounded-lg border transition duration-500 hover:border-transparent hover:shadow-lg">
                  <!-- Product Link -->
                  <a href="{% url 'productpage:product_detail' same_product.id %}" class="block">
                      <!-- Product Image -->
                      <img
                          src="{% static 'avatars/defaults.jpeg' %}"
                          alt="{{ same_product.name }}"
                          class="h-64 w-full object-cover transition duration-500 group-hover:scale-105 sm:h-72"
                      />
                  
                      <!-- Product Info -->
                      <div class="relative border border-gray-100 bg-white p-6 transition-all duration-300 hover:bg-gray-100">
                          <!-- Product Price -->
                          <p class="text-gray-700 text-sm">
                            Rp.{{ same_product.min_price }} - Rp.{{ same_product.max_price }}
                          </p>
                          
                          <!-- Product Name -->
                          <h3 class="mt-1.5 text-md font-medium text-gray-900 truncate" style="max-width: 100%;">
                            {{ same_product.name }}
                          </h3>
                          
                          <!-- Rating Stars -->
                          <div class="flex items-center gap-1 mt-2 text-yellow-500">
                            {% for i in "12345"|make_list %}
                              {% if i <= same_product.count_average_rating|floatformat:0 %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="currentColor">
                                  <path d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"></path>
                                </svg>
                              {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                                  <path d="M11.48 3.5a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                              {% endif %}
                            {% endfor %}
                            <span class="ml-2 text-sm font-medium text-gray-500">({{ same_product.num_reviews }} Reviews)</span>
                          </div>
                      </div>
                  </a>

                  <!-- Wishlist Button -->
                  {% if user.is_authenticated %}
                    <button
                        onclick="addToWishlist('{{ same_product.name }}')"
                        class="absolute end-4 top-4 z-20 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75"
                    >
                        <span class="sr-only">Wishlist</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-4"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                            />
                        </svg>
                    </button>
                    {% endif %}
              </div>
              {% endfor %}
          </div>
          
          <!-- Popup Notification -->
          <div id="wishlistPopup" class="fixed bottom-10 left-10 z-30 bg-blue-600 bg-opacity-70 border border-blue-800 text-white px-6 py-4 rounded-lg shadow-lg hidden">
            <button onclick="closePopup()" class="absolute top-1 right-2 text-white hover:text-gray-300">
              &times;
            </button>
            <p id="wishlistMessage" class="font-medium">Added to Favourites!</p>
          </div>

          <!-- Navigation Buttons -->
          <div class="swiper-button-next text-gray-700 absolute right-2 top-1/2 transform -translate-y-1/2"></div>
          <div class="swiper-button-prev text-gray-700 absolute left-2 top-1/2 transform -translate-y-1/2"></div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/productpage.js' %}"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,  // Adjust the number of slides visible at once
      spaceBetween: 20,  // Space between slides
      loop: true,  // Enable continuous loop mode
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 15,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
    });

    function addToWishlist(productName) {
      const popup = document.getElementById('wishlistPopup');
      const message = document.getElementById('wishlistMessage');

      // Update message and show popup
      message.textContent = `Added ${productName} to Favourites!`;
      popup.classList.remove('hidden');

      // Set a timeout to auto-hide popup after 3 seconds
      clearTimeout(popupTimeout);
      popupTimeout = setTimeout(() => {
          popup.classList.add('hidden');
      }, 3000);
    }

    // Cancel the auto-hide if closed manually
    function closePopup() {
      const popup = document.getElementById('wishlistPopup');
      popup.classList.add('hidden');
      clearTimeout(popupTimeout);
    }
  </script>
  <script src="{% static 'js/favourite.js' %}"></script>
{% endblock %}